html{
    scroll-behavior: smooth;
}
header img{
    height: 100px;
    justify-content: left;
}
header{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    padding: 10px; 
    position: fixed;
    width: 100%;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color:darkred;
    font-size: 20px;
    padding: 5px 10px;
    transform: 1s;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: 0.4s;
}
nav a:hover{
    color:rgb(207, 99, 99);
    transition: 0.1s;
    border-radius: 25px 25px 25px 25px;
    padding: 7px 20px;
    background-color: azure;
    box-shadow: 5px 5px 5px 5px;
}
body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home{
    background-image: url("bg4.png");
    height: 700px;
    background-size: cover;
    padding-top: 50px;
}

.deskripsiHome{
    width: 40%;
    margin-left: 50px;
    font-size: 25px;
    & h1{
        color:rgb(51, 6, 6);
    }
    & h3{
        color:rgb(255, 45, 45);
    }
    & p{
        color:rgb(255, 255, 255);
    }
}

.about{
    height: 850px;
    background-color:rgb(230, 210, 184);
     & h3{
        color: brown;
    }
    & p{
        color:rgb(255, 255, 255);
        text-align: justify;
    }
}

.containerAbout{
    background-color: burlywood;
    border-radius: 10px 10px 10px 10px;
    height: 90%;
    width: 50%;
    margin-left: 23%;
    text-align: center;
    padding: 25px;
    padding-top: 50px;
}

.containerAbout img{
    height: 200px;
}

section.profile{
    background-color: rgb(230, 210, 184);
    height: 800px;
    text-align: center;

}

.cardProfile{
    background-color: rgb(180, 114, 83);
    padding: 15px;
    width: 300px;
    text-align: center;
    color:blanchedalmond;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
}

.cardProfile img{
    width:90%;
}

.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}

.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}